<app-header></app-header>
<main id="main">
  <section id="carousel">
    <app-carousel></app-carousel>
  </section>
  <section id="features" class="my-5">
    <app-features [dataFeatures]="data.features" (elementCreated)="onElementCreated($event)"></app-features>
  </section>
  <section id="about" class="my-5">
    <app-about [aboutData]="data.about" (elementCreated)="onElementCreated($event)"
    ></app-about>
  </section>
  <section id="address" class="my-5">
    <app-address [addressData]="data.address" (elementCreated)="onElementCreated($event)"></app-address>
  </section>
  <section id="contact" class="my-5">
    <app-contact (sendForm)="onContactFormSubmitted($event)"></app-contact>
  </section>
  <div class="btn-top">
    <a class="btn btn-link" href="#main">
      <img src="./assets/images/seta-para-cima.png" alt="..." />
    </a>
  </div>
</main>
<app-footer></app-footer>
